<div class="my-app">
  <div style="text-align:center">
    <h1>
      Welcome to the demo page!
    </h1>
    <h2>
      Please type 'parrots'
      <br>
      or
      <br>
      click here to
      <br>
      <button type="button" (click)="onPPCodeProvided()">{{ btnText }}</button>
    </h2>
    <img width="150" alt="Angular Logo"
         src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    <form [formGroup]="appForm">
      <div>
        <p>Select mode:</p>
        <div>
          <input id="default" type="radio" name="mode" class="input" formControlName="mode" value="default">
          <label for="default">default</label>
        </div>
        <div>
          <input id="love" type="radio" name="mode" class="input" formControlName="mode" value="love">
          <label for="love">love</label>
        </div>
        <div>
          <input id="one" type="radio" name="mode" class="input" formControlName="mode" value="one">
          <label for="one">one</label>
        </div>
        <div>
          <input id="snowing" type="radio" name="mode" class="input" formControlName="mode" value="snowing">
          <label for="snowing">snowing</label>
        </div>
        <div>
          <input id="skiing" type="radio" name="mode" class="input" formControlName="mode" value="skiing">
          <label for="skiing">skiing</label>
        </div>
      </div>
    </form>
  </div>

</div>
<ngx-pp-code-detector (codeProvided)="onPPCodeProvided()"></ngx-pp-code-detector>
<ngx-pp-party-parrots
  *ngIf="isPartyParrotRainVisible"
  [mode]="this.appForm.get('mode').value"
  [opacity]="0.5"
></ngx-pp-party-parrots>


